@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", serif;

}
p::selection,h1::selection,h2::selection,h3::selection,a::selection,label::selection,button::selection{
    background-color: #ebab3e;
    color: white;
}
a,
a:visited,
a:active,
button {
    color: inherit;
    border: inherit;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
    box-shadow: 0 .5px 10px 1px rgb(192, 192, 192);
}

header nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    width: 50px;
    transform: scaleX(-1);
    margin-right: 5px;
}

.navbar {
    width: 45%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar ul li:hover {
    color: #fc9f00;
    cursor: pointer;
}

#bars {
    display: none;
}
.menu{
    height: 80vh;
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: white;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    transition: ease .5s;
}
.menu-wrap{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}
.menu-wrap > .sidebarLinks{
    list-style: none;
    margin-top: 100px;
    width: 100%;
}
.sidebarLinks > li{
    width: 100%;
    margin: 30px 0px;
    display: flex;
    justify-content: space-evenly;
}
.side-footer{
    margin-bottom: 15px;
    position: relative;
}
.side-footer::before{
    position: absolute;
    top: -3px;
    height: 1px;
    width: 100%;
    background-color: grey;
    content: "";
}
.side-footer > .logo{
    width: 100%;
    scale: 0.8;
}
.hr{
    height: 1px;
    background-color: rgb(117, 117, 117);
    width: 100%;
}
.bgVideo {
    width: 100%;
    height: 100vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
}

.hero>.main {
    margin-top: 60px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main h1 {
    font-weight: 1000;
    letter-spacing: 3px;
    font-size: 3.2rem;
    margin-bottom: 20px;
}

.main p {
    margin-bottom: 40px;
}

.main>button {
    width: 25%;
    height: 40px;
    border-radius: 6px;
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: #fc9f00;
    color: white;
    font-size: 1.1rem;
    font-weight: bolder;
    cursor: pointer;
}

.links {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}

.links>a {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
}

.links>a:hover {
    border: 1px solid #fc9f00;
    transform: scaleX(-1);
}

.about {
    width: 100%;
    background-color: #F5F5F5;
    padding-top: 100px;
    padding-bottom: 50px;
}

.about-wrap {
    width: 80%;
    margin: auto;
    text-align: center;
}

.about-wrap>p {
    margin-top: 40px;
    text-align: left;
}

.about-wrap>h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.timeline {
    width: 60%;
    margin: 50px auto;
    position: relative;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.timeline-icon {
    width: 30px;
    height: 30px;
    background-color: #555555;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    left: -45px;
    top: -30px;

}

.timeline-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: 0px;
}

.timeline-content h3 {
    margin-top: 0;
    color: #fc9f00;
}

.timeline-content p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #fc9f00;
}

.skill-head {
    text-align: center;
    margin-bottom: 25px;
}

.skills {
    width: 80%;
    height: fit-content;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.skills .skill-slider {
    width: 100%;
    animation: scroll 15s infinite linear;
    margin-left: 0px;
}

.skills .skill-slider>button {
    font-size: 1.1rem;
    width: auto;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 5px;
}

.skill-slider:hover {
    animation-play-state: paused;
}

.skills::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 25px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #F5F5F5);
    z-index: 2;
}

.skills::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 25px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F5F5F5);
    z-index: 2;
}

@keyframes scroll {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

.projects {
    width: 100%;
    text-align: center;
    padding: 100px 0px;
    background-color: #faf9f9;
}

.projects>h1 {
    width: fit-content;
    margin: 0px auto 40px auto;
    text-transform: uppercase;
    border-bottom: 2px solid #fc9f00;
}

.projects-wrap {
    width: 80%;
    margin: auto;
}

.project {
    width: 100%;
    height: 70vh;
    position: relative;
    margin-bottom: 40px;
    border-radius: 12px;
}

.project::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: rgba(0, 0, 0, 0.2);
    /* Dark overlay */
    z-index: 1;
}

.project-info {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 35%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: left;
    border-radius: 4px;
    padding: 25px;
    z-index: 2;
    backdrop-filter: blur(5px);
}

.project-info>a {
    padding: 8px 35px;
    font-size: .8rem;
    border-radius: 3px;
    backdrop-filter: blur(5px);
    background-color: transparent;
    border: .2px solid rgb(145, 145, 145);
    color: white;
    transition: .25s ease;
    cursor: pointer;
}

.project-info>a:hover {
    background-color: #fc9f00;
}

.project-info>p {
    margin-bottom: 15px;
    color: #E0F1FB;
}

.project-info>h1 {
    margin-bottom: 15px;
    color: white;
}

.project1 {
    background: url('tic.png');
    background-size: cover;
    background-position: center;
}

.project2 {
    background: url('typing.png');
    background-position: center;
    background-size: cover;
}

.project3 {
    background: url('quiz.png');
    background-position: center;
    background-size: cover;
}

.project4 {
    background: url('styledg.png');
    background-position: center;
    background-size: cover;
}

.project5 {
    background: url('showtime.png');
    background-position: center;
    background-size: cover;
}
.contact-section {
    width: 80%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
    padding-top: 100px;
  }
  
  .contact-intro > * + * {
    margin-top: 1rem;
  }
  
  .contact-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
  
  .contact-description {
    color: rgb(107 114 128);
  }
  
  .form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    margin-bottom: 0.5rem;
  }
  
  .form-input,
  .form-textarea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .form-input::placeholder,
  .form-textarea:focus-visible {
    color: #6b7280;
  }
  
  .form-input:focus-visible,
  .form-textarea:focus-visible {
    outline: 2px solid #fc9f00;
    outline-offset: 2px;
  }
  
  .form-textarea {
    min-height: 120px;
  }
  
  .form-submit {
    width: 100%;
    margin-top: 1.2rem;
    background-color: #fc9f00;
    color: #fff;
    padding: 13px 5px;
    border-radius: 0.375rem;
  }
  
  .footer{
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-content > .links{
    width: 60%;
  }
  .footer-content > .links > a:hover{
    border: none;
  }


@media only screen and (max-width:630px) {
    #bars {
        display: block;
        font-size: 1.1rem;
    }

    #nav-links {
        display: none;
    }

    .navbar {
        width: 5%;
    }

    .logo {
        width: 60%;
        justify-content: space-evenly;
    }

    .main>h1 {
        font-weight: 800;
        letter-spacing: 2px;
        font-size: 2.2rem;
        margin-bottom: 20px;
    }

    .main>p {
        font-size: 0.8rem;
    }

    .main>.links {
        width: 60%;
    }

    .links button {
        height: 35px;
        width: 35px;
    }

    .main>button {
        width: 35%;
    }


    .project {
        height: 30vh;
    }

    .project-info {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: fit-content;
        width: fit-content;
        padding: 15px;
    }
}
@media (max-width:800px) {
    
    .project {
        height: 45vh;
        justify-content: flex-start;
    }
    .project-info {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: fit-content;
        width: fit-content;
        padding: 15px;
    }
}